.first{
  display: flex;
  justify-content: center;
} 
.second{
  display: flex;
  justify-content: center;
} 
.third{
  display: flex;
  justify-content: center;
} .fourth{
  display: flex;
  justify-content: center;
} 